html {
  font-size: 62.5% ;
}
.input-form-line {
  display: flex ;
  padding: 2rem;
}
.text-view {
  font-size: 4rem;
  height: fit-content;
}
.edit-text-view {
  font-size: 4rem;
  padding: 1rem;
  height: fit-content;
  border: 1px solid #CCCCCC;
  border-radius: 1rem;
}
.edit-text-view:focus {
  border: 1px solid #66ccff;
  border-radius: 1rem;
}
.login-ed-text {
  width: 100%;
  outline: none;
  border: none;
}
.login-label {
  width: 25rem;
  text-align: center ;
  margin: 1rem;
}
.login-ed-text:focus {
  outline: none;
  border: none;
}
.gravity-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.gravity-center-horizontal {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
.gravity-center-vertical {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.gravity-vertical {
  display: block ;
}
.view {
  margin: 2rem;
}
.view-parent {
  padding: 2rem ;
  overflow: hidden;
}
.vcode {
  width: 15rem;
  height: 10rem;
}
.flex {
  display: flex ;
  display: -webkit-flex;
}
.card-view {
  border: 1px solid #CCCCCC;
  font-size: 4rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  -moz-box-shadow: 2px 2px 2px #CCCCCC;
  -webkit-box-shadow: 2px 2px 2px #CCCCCC;
  box-shadow: 2px 2px 2px #CCCCCC;
}
.button {
  background-color: #FF5242;
  text-align: center;
  color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  -moz-box-shadow: 2px 2px 2px #CCCCCC;
  -webkit-box-shadow: 2px 2px 2px #CCCCCC;
  box-shadow: 2px 2px 2px #CCCCCC;
}
.horizontal-line {
  height: 1px;
  width: 100%;
  padding: 0px;
  background-color: #CCCCCC ;
  border-radius: 1rem;
}
.center-horizontal {
  justify-self: center;
}
.input-form {
  text-align: center ;
  margin: 4rem 2rem 10rem 2rem;
}
.oneline-button {
  width: 100%;
}
.layout-gravity-bottom {
  align-self: flex-end;
  color: #0C86F5 ;
}
.hint-content {
  color: #0C86F5;
}
