html {
  font-size: 62.5% ;
}
.card-view {
  border: 1px solid #CCCCCC;
  font-size: 4rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  -moz-box-shadow: 2px 2px 2px #CCCCCC;
  -webkit-box-shadow: 2px 2px 2px #CCCCCC;
  box-shadow: 2px 2px 2px #CCCCCC;
}
.input-form-line {
  display: flex ;
}
.text-view {
  font-size: 4rem;
  height: fit-content;
}
.edit-text-view {
  font-size: 4rem;
  height: fit-content;
  border: 1px solid #CCCCCC;
}
.gravity-center {
  align-items: center;
}
.view {
  margin: 2rem;
}
