#login-input-form {
  text-align: center ;
  margin: 4rem 1rem 1rem 1rem;
}
#login-button {
  width: 100%;
  margin-top: 10rem;
}
#register-container {
  height: 85rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}
#register-button {
  align-self: flex-end;
}
#register-button a {
  color: #0C86F5;
}
