.table-title {
  font-size: 4rem;
  height: 6rem;
  border: 0.1rem solid #000000;
}
.table-content {
  width: calc(96%);
  margin-left: 2rem;
  margin-right: 2rem;
}
.table-detail {
  width: 100%;
  font-size: 4rem;
  text-align: center;
  font-weight: normal;
  border-spacing: 0px;
}
.table-detail,
.table-detail td {
  border: 0.1rem solid #000000;
  border-radius: 0px;
}
