html {
  font-size: 62.5% ;
}
.app-toolbar-container {
  display: -webkit-flex;
  /* Safari */
  display: flex;
}
.app-toolbar-title {
  font-size: 4rem ;
  color: #ffffff ;
  margin: auto ;
  z-index: 0;
  position: relative;
  float: left;
}
.app-toolbar-left-icon {
  font-size: 4rem ;
  padding-left: 2rem;
  color: #ffffff ;
  z-index: 1;
  position: absolute;
  float: left;
}
.app-toolbar {
  background-color: #FF5242;
  width: 100% ;
  height: 12rem;
}
.app-toolbar-center-vertical {
  margin-top: 6rem;
  transform: translate(0%, -50%);
}
