<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>主页</title>
    <link href="css/base.css" rel="stylesheet" type="text/css" />
    <link href="css/home.css" rel="stylesheet" type="text/css" />
    <link href="css/minirefresh.css" rel="stylesheet" type="text/css" />
    <link href="css/minirefresh-common.css" rel="stylesheet" type="text/css" />
    <link href="css/table.css" rel="stylesheet" type="text/css" />
    <link href="css/dialog.css" rel="stylesheet" type="text/css" />
    <link href="css/pair-table.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="dialog-container">
    <div id="toolbar-container">
    </div>
    <!--content-->
    <div id="content" class="view-parent gravity-vertical">
        <!-- 用户个人信息 -->
        <div class="dash-border" id="userinfo-container">
            <span class="text-view gravity-center-vertical">
                <span id="username-container" class="gravity-center-vertical one-of-three">
                    <img src="img/user.png" />&nbsp;

                    <!-- 用户名 -->
                    欢迎<span id="username">{{name}}</span>
                </span>

                <span id="changeinfo-container" class="one-of-three">
                    <!-- 修改资料按钮 -->
                    <a href="../TransactionSystem/personal.html">修改资料</a>
                </span>
                <span id="changepass-container" class="one-of-three">
                    <!-- 修改密码按钮 -->
                    <a href="../TransactionSystem/password.html">修改密码</a>
                </span>
            </span>
        </div>
        <!-- 用户个人信息结束 -->

        <!-- 钱包 -->
        <div class="dash-border" id="wallet-container">
            <div class="view text-view gravity-center-vertical">
                <span>
                    <img src="img/money.png" />&nbsp;
                    钱包
                </span>
            </div>
            <table class="home-table">
                <tr>
                    <td colspan="4">
                        <div class="horizontal-dash-line"></div>
                    </td>
                </tr>
                <tr class="text-view view">
                    <td class=" one-of-three">
                        <!-- 持币数 -->
                        持币：<span id="">{{currency}}</span>
                    </td>
                    <td class=" one-of-three" colspan="2">
                        <!-- 比率 -->
                        比率：<span id="">{{Number(showRate).toFixed(2)}}</span>
                        <!-- 价值 -->
                        价值：<span id="">{{parseInt(currency*showRate)}}</span>
                    </td>
                    <td class=" one-of-three">
                        <!-- 卖出 -->
                        <a href="sale.html">卖出</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="horizontal-dash-line"></div>
                    </td>
                </tr>
                <tr class="text-view view">
                    <td class="one-of-three">
                        <!-- 推广链接 -->
                        <a id="" @click="showInvide">推广链接</a>
                    </td>
                    <td class="one-of-three" colspan="2">
                        <!-- 比率 -->
                        直属：<span id="">{{inviteCount}}</span>
                        <!-- 价值 -->
                        佣金：<span id="">{{parseInt(currency*showRate*showRate)}}</span>
                    </td>
                    <td class=" one-of-three">
                        <!-- 提出 -->
                        <a href="cash.html">提出</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="horizontal-dash-line"></div>
                    </td>
                </tr>
                <tr class="text-view view">
                    <td class=" one-of-three">
                        购买数量
                    </td>
                    <td class=" one-of-three" colspan="2">
                        <!-- 购买数量 -->
                        <input type="text" v-model="buyCount" id="buy-count-input" class="input-text" />
                    </td>
                    <td class="one-of-three">
                        <!-- 买入 -->
                        <a href="javascript:void(0)" @click="doBuy">买入</a>
                    </td>
                </tr>
            </table>

        </div>
        <!-- 钱包结束 -->


        <!-- 佣金记录 -->
        <div id="commission-container">
            <div class="dash-border">
                <span class="text-view gravity-center-vertical">
                    <span class="gravity-center-vertical one-of-three">
                        <img src="img/trade-record.png" />&nbsp;
                        佣金记录
                    </span>
                </span>
            </div>

            <!-- 下拉刷新wrapper -->
            <div class=" table-content" id="commission-refresh">
                <!-- 表格内容 -->
                <table class="table-detail">
                    <thead>
                        <td>编号</td>
                        <td>会员</td>
                        <td>提成</td>
                        <td>查看</td>
                    </thead>
                    <!-- 数据列表显示的位置 -->
                    <tbody id="commission-listdata">
                            <tr v-for="(item, index) of commissionList" @click="showCommissionDetails(item)">
                                    <td><a>{{item.serialNumber}}</a></td>
                                    <td>{{item.UserName}}</td>
                                    <td>{{item.money}}</td>
                                    <td><a>查看</a></td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 佣金记录end -->


        <!-- 交易记录 -->
        <div id="trade-container">
            <div class="dash-border" id="userinfo-container">
                <span class="text-view gravity-center-vertical">
                    <span class="gravity-center-vertical one-of-three">
                        <img src="img/trade-record.png" />&nbsp;
                        交易记录
                    </span>
                </span>
            </div>

            <!-- 下拉刷新wrapper -->
            <div class="table-content" id="trade-refresh">


                <!-- 表格内容 -->
                <table class="data-list table-detail">
                    <thead>
                        <td>编号</td>
                        <td>金额</td>
                        <td>时间</td>
                        <td>流向</td>
                        <td>状态</td>
                    </thead>
                    <!-- 数据列表显示的位置 -->
                    <tbody id="trade-listdata">
                        <tr v-for="(item, index) of transList" @click="doMatch(index)">
                            <td>{{item.serialNumber}}</td>
                            <td>{{item.worth}}</td>
                            <td>{{item.updateAt}}</td>
                            <td v-if="item.sellers!=null && item.sellers[0].id==userId">卖出</td>
                            <td v-else>买入</td>
                            <td>{{item.statusStr}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 交易记录end -->
    </div>
    </div>
</body>
<script src="script/jquery.js"></script>
<script src="script/toolbar.js"></script>
<script src="script/vue.js"></script>
<script src="script/data/vuedata.js"></script>
<script src="script/minirefresh.js"></script>
<script src="script/minirefresh.js"></script>
<script src="script/utils.js"></script>
<script src="script/dialog.js"></script>
<script src="script/pair-table.js"></script>
<script>
    var dialog ;

    function showCommissionDetails(item){
        var html = "<div class='view-parent gravity-vertical card-view'> <div class='view-parent pair-table-container' id='table-container'></div></div>" ;
        dialog.show(html) ;
        var table = new PairTable("#table-container");
        table.setPairs({
            "编号：":item.serialNumber,
            "会员：":item.UserName,
            "提成：":item.money,
        }) ;
    };
    var listPageIndex = 0;
    var listPageSize = 5;
    $(function () {
        toolbar = new Toolbar("#toolbar-container");
        toolbar.title.html("主页");
        toolbar.backButton.hide();

        dialog = new Dialog("#dialog-container") ;
        var vue = new Vue({
            el: "#content",
            mounted() {
                this.getWallet();
                this.getTransList();
                this.getCommissionRecordList();
            },
            data: {
                userId: getCookie("userId"),
                name: getCookie("name"),
                rate: '',
                showRate: account.wallet.showRate,
                hideRate: account.wallet.hideRate,
                inviteCount: '',
                currency: '',
                buyCount: '',
                inviteCode: getCookie("inviteCode"),
                token: getCookie("token"),
                transList: [],
                commissionList:[],
            },
            methods: {
                // 获取本用户钱包信息
                getWallet: function () {
                    var url = webServer.data.baseURL + webServer.data.wallet
                    var parmas = {
                        token: this.token
                    };

                    $.ajax({
                        type: "POST",
                        url: url,
                        crossDomain: true,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(parmas),
                        success: function (data) {
                            // 修改成功
                            if (data.code == 1) {
                                account.wallet.walletId = data.result.id
                                account.wallet.rate = data.result.rate
                                account.wallet.hideRate = data.result.hideRate
                                account.wallet.inviteCouninviteCountt = data.result.inviteCount
                                account.wallet.currency = data.result.currency

                                vue.rate = data.result.rate
                                vue.hideRate = data.result.hideRate
                                vue.inviteCount = data.result.inviteCount
                                vue.currency = data.result.currency
                                setCookie("showCurrency", vue.currency);
                                if (data.result.rate == 0) {
                                    vue.showRate = data.result.hideRate
                                    account.wallet.showRate = data.result.hideRate
                                    setCookie("showRate", data.result.hideRate)
                                } else {
                                    vue.showRate = data.result.rate
                                    account.wallet.showRate = data.result.rate
                                    setCookie("showRate", data.result.rate)
                                }

                                //console.log(account.wallet.showRate)

                                return;
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function (data) {
                            alert(JSON.stringify(data));
                        }
                    })
                },
                // 获取本用户交易记录
                getTransList: function () {
                    var url = webServer.data.baseURL + webServer.data.trans + "/0/" + listPageSize;
                    var parmas = {
                        token: this.token
                    };
                    $.ajax({
                        type: "POST",
                        url: url,
                        crossDomain: true,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(parmas),
                        success: function (data) {
                            // 修改成功
                            if (data.code == 1) {
                                $.each(data.result, function (index, content) {
                                    // 状态Formate
                                    switch (content.status) {
                                        case -1:
                                            // 待匹配
                                            content.statusStr = "待匹配"
                                            break
                                        case 1:
                                            // 已完成
                                            content.statusStr = "已完成"
                                            break;
                                        case 1001:
                                            // 待支付
                                            content.statusStr = "待支付"
                                            break;
                                        case 1002:
                                            // 已支付
                                            content.statusStr = "已支付"
                                            break;
                                        case 2001:
                                            // 代收款
                                            content.statusStr = "代收款"
                                            break;
                                    }
                                    // 时间转换
                                    var date = new Date(content.updateAt)
                                    content.updateAt = date.getFullYear() + "" +
                                        dataLeftCompleting(2, "0", date.getMonth()) +
                                        dataLeftCompleting(2, "0", date.getDate())
                                    vue.transList.push(content)
                                })
                                return;
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function (data) {
                            alert(JSON.stringify(data));
                        }
                    })
                },
                getCommissionRecordList: function () {
                    var url = webServer.data.baseURL + webServer.data.list  + "/" + listPageIndex +
                        "/" + listPageSize;
                    var parmas = {
                        token: this.token
                    };
                    $.ajax({
                        type: "POST",
                        url: url,
                        crossDomain: true,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(parmas),
                        success: function (data) {
                            // 修改成功
                            if (data.code == 1) {
                                if(listPageIndex == 0){
                                    vue.commissionList.length = 0 ;
                                }
                                $.each(data.result, function (index, e) {
                                    vue.commissionList.push(e);
                                });
                                listPageIndex++;
                                return;
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function (data) {
                            alert(JSON.stringify(data));
                        }
                    })
                },
                // 前往买入界面
                doBuy: function () {
                    if (vue.buyCount == '' || vue.buyCount == null) {
                        alert("请填写买入数量")
                        return;
                    }
                    setCookie("buyCount", vue.buyCount)
                    location.href = "buy.html"
                },
                doMatch: function (index) {
                    var item = vue.transList[index]
                    setCookie("serialNumber", this.transList[index].serialNumber)
                    setCookie("mineSerial", this.transList[index].serialNumber)
                    setCookie("currency", this.transList[index].currency)
                    setCookie("rate", this.transList[index].worth / this.transList[index].currency)
                    setCookie("worth", this.transList[index].worth)
                    href = "#";
                    switch (item.status) {
                        case -1:
                            // 待匹配
                            href = "match-list.html";
                            break
                        case 1:
                            // 已完成
                            href = "trade-done.html";
                            break;
                        case 1001:
                            // 待支付
                            href = "confirm-remit.html";
                        case 1002:
                            // 已支付
                            href = "confirm-remit.html";
                            break;
                        case 2001:
                            // 代收款
                            href = "confirm-receive.html";
                            break;
                    }
                    location.href = href;
                },
                showInvide: function () {
                    alert("邀请码：" + this.inviteCode)
                }
            }
        })
    })
</script>

</html>