<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>登录</title>
    <script src="script/jquery.js"></script>
    <script src="script/toolbar.js"></script>
    <script src="script/vue.js"></script>
    <script src="script/data/vuedata.js"></script>
    <link href="css/index.css" rel="stylesheet" type="text/css" />

    <link href="css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="toolbar-container">
    </div>
    <div id="content">
        <div class="view-parent card-view gravity-vertical input-form">

            <!-- 用户名输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/user.png">
                </span>
                <label class="view text-view login-label" for="ed-username">
                    账&nbsp;号:
                </label>
                <input id="ed-username" v-model="account" class="view edit-text-view login-ed-text" type="text"
                    placeholder="请输入用户名" />
            </div>
            <!-- 用户名输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!-- 用户面输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/password.png">
                </span>
                <label class="view text-view login-label" for="ed-password">
                    密&nbsp;码:
                </label>
                <input id="ed-password" v-model="pwd" class="view edit-text-view login-ed-text" type="text" placeholder="请输入密码" />
            </div>
            <!-- 用户面输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!-- 验证码输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/verifycode.png">
                </span>
                <label class="view text-view login-label" for="ed-verifycode" id="verify-label">
                    验证码:
                </label>
                <input id="ed-verifycode" v-model="verifycode" class="view edit-text-view login-ed-text" type="text"
                    placeholder="请输入验证码" />
                <img id="send-code-button" class="vcode" :src="vcodeImg" @click="changeImg">
            </div>
            <!-- 验证码输入框 结束 -->
        </div>

        <!-- 登录按钮 -->
        <div class="gravity-center">
            <span class="view text-view button oneline-button" id="login-button" @click="loginSubmit">
                登录
            </span>
        </div>

        <!-- 注册按钮 -->
        <div id="register-container" class="view-parent gravity-center-horizontal">
            <span class="view text-view layout-gravity-bottom " id="register-button">
                还未注册？<a>点击注册</a>
            </span>
        </div>

    </div>
</body>
<script>
    $(function () {
        toolbar = new Toolbar("#toolbar-container");
        toolbar.title.html("登录");
        toolbar.backButton.hide();

        $("#register-button").click(function () {
            window.location.href = "register.html";
        });
    });

    function getRandom(n) {
        return Math.floor(Math.random() * n + 1)
    }

    var vue = new Vue({
        el: "#content",
        mounted() {
            this.changeImg()
        },
        data: {
            account: '',
            pwd: '',
            verifycode: '',
            vcodeImg: '',
            verCodeKey: ''
        },
        methods: {
            loginSubmit: function () {
                var url = webServer.data.baseURL + webServer.data.login
                var parmas = {
                    account: this.account,
                    password: this.pwd,
                    verCode: this.verifycode,
                    verCodeKey: this.verCodeKey // 验证码MapKey
                };
                //alert(JSON.stringify(parmas));
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(parmas),
                    crossDomain: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        // 登陆成功
                        if (data.code == 1) {
                            // 保存用户信息
                            var result = data.result
                            account.data.userId = result.user.id
                            account.data.name = result.user.name
                            account.data.phone = result.user.phone

                            account.data.account = result.account
                            account.data.zfbCode = result.zfbCode
                            account.data.token = result.token

                            console.log(account.data)
                            // 跳转到主界面
                            window.location.href = "home.html";
                            return;
                        } else if (data.code == 4007) {
                            alert(logger.data.ERROR_VERCODE);
                        } else {
                            alert(logger.data.ERROR_ACCOUNT_OR_PWD);
                        }

                        vue.changeImg();
                    },
                    error: function (data) {
                        alert(JSON.stringify(data));
                    }
                })


            },
            changeImg: function () {
                this.verCodeKey = getRandom(999)
                this.vcodeImg = webServer.data.baseURL + webServer.data.vCodeImg + "/" + this.verCodeKey
            }
        }
    })
</script>

</html>