<!-- 修改密码页面   -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>修改面</title>
    <script src="script/jquery.js"></script>
    <script src="script/toolbar.js"></script>
    <script src="script/vue.js"></script>
    <script src="script/data/vuedata.js"></script>
    <script src="script/utils.js"></script>
    <link href="css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="toolbar-container">
    </div>
    <div id="content">
        <div class="view-parent card-view gravity-vertical input-form" id="">

            <!-- 旧密码输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/password.png">
                </span>
                <label class="view text-view login-label" for="ed-password">
                    旧&nbsp;密&nbsp;码:
                </label>
                <input id="ed-password" v-model="oldPwd" class="view edit-text-view login-ed-text" type="password"
                    placeholder="请输入旧密码" />
            </div>
            <!-- 旧密码输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!-- 新密码输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/password.png">
                </span>
                <label class="view text-view login-label" for="ed-new-password">
                    新&nbsp;密&nbsp;码:
                </label>
                <input id="ed-new-password" v-model="newPwd" class="view edit-text-view login-ed-text" type="password"
                    placeholder="请输入新密码" />
            </div>
            <!-- 新密码输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!-- 新密码输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/password.png">
                </span>
                <label class="view text-view login-label" for="ed-confirm-password">
                    新&nbsp;密&nbsp;码:
                </label>
                <input id="ed-confirm-password" v-model="confirmPwd" class="view edit-text-view login-ed-text" type="password"
                    placeholder="请确认密码" />
            </div>
            <!-- 新密码输入框 结束 -->
        </div>

        <!-- 修改按钮 -->
        <div class="gravity-center">
            <span class="view text-view button oneline-button" id="save-button" @click="updateSubmit">
                修改
            </span>
        </div>
    </div>
</body>
<script>
    $(function () {
        toolbar = new Toolbar("#toolbar-container");
        toolbar.title.html("修改密码");
        toolbar.backButton.click(function () {
            window.location.href = "../TransactionSystem/home.html";
        });

    });

    new Vue({
        el: "#content",
        data: {
            oldPwd: '',
            newPwd: '',
            confirmPwd: ''
        },
        methods: {
            updateSubmit: function () {
                if (this.newPwd != this.confirmPwd) {
                    alert("两次密码输入不一致");
                    return;
                }

                var url = webServer.data.baseURL + webServer.data.updatePwd
                var parmas = {
                    oldPwd: this.oldPwd,
                    newPwd: this.newPwd,
                    token: getCookie("token")
                };

                console.log(url);

                $.ajax({
                    type: "POST",
                    url: url,
                    crossDomain: true,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(parmas),
                    beforeSend: function (req) {
                        //  req.setRequestHeader("token", account.data.token);
                    },
                    success: function (data) {
                        // 修改成功
                        if (data.code == 1) {
                            alert("修改成功");
                            return;
                        } else if (data.code == 4001) {
                            alert(logger.data.ERROR_PARAMETERS);
                        } else if (data.code == 4041) {
                            alert(logger.data.ERROR_PARAMETERS);
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (data) {
                        alert(JSON.stringify(data));
                    }
                })
            }
        }
    })
</script>

</html>