<!-- 个人信息修改页面 -->
<html>

<head>
    <title>个人信息</title>
    <script src="script/jquery.js"></script>
    <script src="script/toolbar.js"></script>
    <script src="script/vue.js"></script>
    <script src="script/data/vuedata.js"></script>
    <script src="script/utils.js"></script>
    <link href="css/personal.css" rel="stylesheet" type="text/css" />
    <link href="css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="toolbar-container">
    </div>
    <div id="content">
        <div id="info-input-form" class="view-parent card-view gravity-vertical input-form">

            <!-- 手机号输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/phone.png">
                </span>
                <label class="view text-view login-label" for="ed-phone">
                    手机号:
                </label>
                <input id="ed-phone" v-model="phone" class="view edit-text-view login-ed-text" type="text" placeholder="请输入手机号" />
                <div></div>
            </div>
            <!-- 手机号输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!--姓名输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/name.png">
                </span>
                <label class="view text-view login-label" for="ed-name">
                    姓&nbsp;名:
                </label>
                <input id="ed-name" v-model="name" class="view edit-text-view login-ed-text" type="text" placeholder="请输入密姓名" />
            </div>
            <!-- 姓名输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!-- 支付宝输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/alipay.png">
                </span>
                <label class="view text-view login-label" for="ed-aplipay">
                    支付宝:
                </label>
                <input id="ed-aplipay" v-model="zfbCode" class="view edit-text-view login-ed-text" type="text"
                    placeholder="请输入支付宝" />
            </div>
            <!-- 支付宝输入框 结束 -->
        </div>

        <!-- 修改按钮 -->
        <div class="gravity-center">
            <span class="view text-view button oneline-button" id="save-button" @click="updateSubmit">
                修改
            </span>
        </div>
    </div>
</body>
<script>
    $(function () {
        toolbar = new Toolbar("#toolbar-container");
        toolbar.title.html("个人信息");
        toolbar.backButton.click(function () {
            window.location.href = "../TransactionSystem/home.html";
        });
    });

    var vue = new Vue({
        el: "#content",
        data: {
            phone: getCookie("phone"),
            name: getCookie("name"),
            zfbCode: getCookie("zfbCode"),
        }, 
        methods: {
            updateSubmit: function () {
                var url = webServer.data.baseURL + webServer.data.updateInfo
                var parmas = {
                    phone: this.phone,
                    name: this.name,
                    zfbCode: this.zfbCode,
                    token: getCookie("token")
                };

                $.ajax({
                    type: "POST",
                    url: url,
                    crossDomain: true,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(parmas),
                    success: function (data) {
                        // 修改成功
                        if (data.code == 1) {
                            setCookie("phone", vue.phone)
                            setCookie("name", vue.name)
                            setCookie("zfbCode", vue.zfbCode)
                            alert("修改成功");
                            return;
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (data) {
                        alert(JSON.stringify(data));
                    }
                })
            }
        }
    })
</script>

</html>