<!-- 卖出页面 -->
<html>

<head>
    <title>卖出</title>
    <script src="script/jquery.js"></script>
    <script src="script/toolbar.js"></script>
    <script src="script/vue.js"></script>
    <script src="script/data/vuedata.js"></script>
    <link href="css/base.css" rel="stylesheet" type="text/css" />
    <link href="css/sale.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="toolbar-container">
    </div>
    <div id="content">
        <div class="view-parent card-view gravity-vertical input-form">

            <!-- 数量输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/ammount.png">
                </span>
                <label class="view text-view login-label" for="ed-ammount">
                    数&nbsp;量:
                </label>
                <input id="ed-ammount" v-model="currency" class="view edit-text-view login-ed-text" type="text"
                    placeholder="请输入数量" />
            </div>
            <!-- 数量输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!-- 比率输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/rate.png">
                </span>
                <label class="view text-view login-label" for="ed-rate">
                    比&nbsp;率:
                </label>
                <input id="ed-rate" v-model="rate" class="view edit-text-view login-ed-text" type="text" placeholder="请输入比率" />
            </div>
            <!-- 比率输入框 结束 -->

            <!-- 水平分割线 -->
            <div class="input-form-line horizontal-line"></div>
            <!-- 水平分割线 -->

            <!-- 金额输入框 开始 -->
            <div class="input-form-line gravity-center">
                <span class="view ">
                    <img src="img/money.png">
                </span>
                <label class="view text-view login-label" for="ed-money">
                    金&nbsp;额:
                </label>
                <input id="ed-money" :value="rate*currency" class="view edit-text-view login-ed-text" type="text"
                    placeholder="请输入金额" />
            </div>
            <!-- 金额输入框 结束 -->
        </div>

        <!-- 买入按钮 -->
        <div class="gravity-center">
            <span class="view text-view button oneline-button" id="buy-button" @click="doSale">
                卖出
            </span>
        </div>

        <!-- 提示信息 -->
        <div class="view-parent gravity-center-horizontal layout-gravity-bottom" id="hint-container">
            <span class="view text-view hint-content layout-gravity-bottom" id="sale-hint">
                请仔细核对是否到账，一旦卖出，将丧失资格，将被禁用
            </span>
        </div>

    </div>
</body>
<script>
    $(function () {
        toolbar = new Toolbar("#toolbar-container");
        toolbar.title.html("卖出");
        toolbar.backButton.click(function () {
            window.location.href = "../TransactionSystem/home.html";
        });

    });

    new Vue({
        el: "#content",
        data: {
            currency: parseInt(2),
            rate: parseInt(account.wallet.rate),
            isSale: true
        },
        methods: {
            doSale: function () {
                var url = webServer.data.baseURL + webServer.data.sale
                var parmas = {
                    currency: this.currency,
                    rate: this.rate,
                    worth: this.currency * this.rate,
                    isSale: true,
                    token: account.data.token
                };

                console.log(url)

                $.ajax({
                    type: "POST",
                    url: url,
                    crossDomain: true,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(parmas),
                    success: function (data) {
                        // 成功卖出
                        if (data.code == 1) {
                            alert("成功生成订单");
                            // TODO 跳转到订单匹配界面
                            return;
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (data) {
                        alert(JSON.stringify(data));
                    }
                })
            }
        }
    })
</script>

</html>